header {
  display: flex;
  line-height: 3em;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #EEEEEE;
}

a:hover {
  color: #00EEEE;
}

.logo-container {
  display: flex;
  margin-left: 1rem;
}

.logo {
  width: 4rem;
}

.app-name {
  font-size: 2.5em;
}

.tagline {
  margin-right: 1rem;
  font-weight: 500;
  text-decoration-color: none;
}