header {
  display: flex;
  line-height: 3em;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #eeeeee;
}

a:hover {
  color: #00eeee;
}

.logo-container {
  display: flex;
  margin-left: 1rem;
}

.logo {
  width: 4rem;
}

.app-name {
  font-size: 2.5em;
}

.tagline {
  margin-right: 1rem;
  font-weight: 600;
  font-size: 20px;
  text-decoration-color: none;
}

@media screen and (max-width: 950px) {
  header {
    flex-direction: column;
    line-height: 1em;
    justify-content: center;
  }

  .app-name {
    font-size: 2em;
  }

  .logo-container {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .tagline {
    margin-left: 1rem;
    text-align: center;
    font-size: 16px;
  }

  a:before {
    content: " ";
    display: block;
  }
}
